<!DOCTYPE html>
<html>
<head>
    <title>Let's Code - Школа программирования</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="img/favicon.svg" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <div id="root" class="wrapper">

    <!-- HEADER -->
    <header class="header__container">
        <div class="header__logo"></div>
        <div class="header__content">
            <h1 class="header__text">Let's Code</h1>
            <div class="list__container">
                <slot v-for="item in linksMain">
                    <div v-html="item.name"></div>
                    <a
                        class="list__link"
                        :href="item.link"
                        target="_blank"
                        v-html="item.link"
                    ></a>
                </slot>
            </div>
        </div>
    </header>

    <!-- COURSES -->
    <section>
        <h2>Курсы</h2>
        <div class="courses__container">
            <div class="courses__course" v-for="itemCources in sectionCources">
                <a
                    :href="itemCources.youtube"
                    class="courses__logo"
                    :style="'background-image: url('+itemCources.img+');'"
                    target="_blank"
                >
                </a>
                <div class="courses__content">
                    <h3 v-html="itemCources.title"></h3>
                    <div class="courses__links">
                        <div v-for="item in itemCources.links">
                            <span>› </span>
                            <a
                                class="courses__link"
                                :href="item.link"
                                target="_blank"
                                v-html="item.name"
                            ></a>
                        </div>
                        <div class="courses__comment-container">
                            <span>Уровень: </span>
                            <span v-html="itemCources.level" class="courses__level"></span>
                            <span v-html="itemCources.time" class="courses__time"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ARTICLES -->
    <section>
        <h2>Статьи</h2>
        <div class="courses__container">
            <div class="courses__course" v-for="itemArticles in sectionArticles">
                <a
                    :href="itemArticles.link"
                    class="courses__logo courses__logo_gray"
                    :style="'background-image: url('+itemArticles.img+');'"
                    target="_blank"
                >
                </a>
                <div class="courses__content">
                    <h3>
                        <a
                            class="courses__link"
                            :href="itemArticles.link"
                            target="_blank"
                            v-html="itemArticles.title"
                        >
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </section>

    </div>

    <script src="libs/vue.js"></script>
    <script src="js/vue.js"></script>
</body>
</html>
