<!DOCTYPE html>
<html>
<head>
    <title>Dev Pandaren</title>
    <meta charset="UTF-8">
    <link rel="icon" href="img/favicon.svg" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<div id="root">

		<div class="header__container">
			
			<div class="header__logo"></div>

			<div class="header__content">
				<h1 class="header__text">Dev Pandaren</h1>

				<div class="list__container">
					<ul class="list__item-title">
					    <li v-for="item in linksMain" v-html="'⚡️ '+item.name"></li>
					</ul>
					<ul class="list__item-link">
						<li v-for="item in linksMain">
							<a
								class="list__link"
								:href="item.link"
								target="_blank"
								v-html="item.link"
							></a>
						</li>
					</ul>
				</div>

			</div>
		</div>

		<h2>Курсы</h2>

		<div v-for="itemCources in cources">

			<div class="structure__container structure__shadow">
				
				<a
					:href="itemCources.youtube"
					class="structure__logo"
					:style="'background-image: url('+itemCources.img+');'"
					target="_blank"
				>
				</a>

				<div class="structure__content">
					<h3 class="structure__text" v-html="itemCources.title"></h3>

					<div class="list__container">
						<ul class="list__item-title">
						    <li v-for="item in itemCources.links" v-html="'🔰 '+item.name"></li>
						    <li>Уровень</li>
						</ul>
						<ul class="list__item-link">
							<li v-for="item in itemCources.links">
								<a
									class="list__link"
									:href="item.link"
									target="_blank"
									v-html="item.link"
								></a>
							</li>
							<li v-html="itemCources.level"></li>
						</ul>
					</div>

				</div>
			</div>
		</div>

	</div>

	<script src="libs/vue.js"></script>
	<script src="js/vue.js"></script>
</body>
</html>
