.wrapper {
    background-color: #fff;
    --spacing-bottom: 10px;
}
.container {
    /*  */
}
.publicationContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.publication {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-flat);
    padding: 20px;
    background-color: var(--color-yellow-opacity-1);
    border: 1px solid var(--color-yellow-opacity-3);
}

.h3 {
    margin: 0;
    font-size: 16px;
    font-family: var(--font-roboto-regular);
    margin-bottom: var(--spacing-bottom);
}
.description {
    font-family: var(--font-roboto-light);
    margin-bottom: var(--spacing-bottom);
    font-size: 14px;
}
.link {
    font-size: 14px;
    transition: .7s;
}

.tagsContainer {
    display: flex;
    gap: 5px;
    margin-bottom: var(--spacing-bottom);
}
.tag {
    padding: 4px 10px;
    font-size: 12px;
    font-family: var(--font-roboto-light);
    border-radius: var(--border-radius-chip);
    background-color: #fff;
    border: 1px solid var(--color-yellow-darker);
}

/***************************************************
ADAPTIVE
/***************************************************/
@media screen and (max-width: 500px) {
    .publicationContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}
