.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--height-header);
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    background-color: var(--color-black-opacity-7);
}
.list {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 14px;

    .listItem {
        padding: 15px;
        list-style-type: none;
    }
    .listItem:last-child {
        margin-right: 0;
    }
    .listItem a {
        text-decoration: none;
    }
}
.listMobile {
    display: none;
}

/* .messenger {
    display: block;
    width: 35px;
    height: 35px;
    margin-left: auto;
    margin-right: 25px;
    background-image: url(./img/telegram.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    opacity: .9;
    transition: .7s;
    background-color: var(--color-white-opacity-1);
}
.messenger:hover {
    filter: invert(30%);
} */

/* .logo {
    width: 70px;
    height: 70px;
    margin-left: 10px;
    padding: 17px;
    opacity: .2;
} */

/***************************************************
ADAPTIVE
/***************************************************/
@media screen and (max-width: 600px) {
    .messenger {
        display: none;
    }
    .list {
        display: none;
    }
    .listMobile {
        display: flex;
    }
}
