.h2 {
    margin: 0;
    margin-bottom: 25px;
    user-select: none;

    .text {
        display: inline-block;
        padding: 2px 15px;
        border-radius: var(--border-radius-chip);
        font-size: 17px;
        font-family: var(--font-roboto-thin);
        color: #fff;
        background-color: var(--color-black-lighter);
    }
}
