.item {
    display: inline-block;
    padding: 4px 15px;
    border-radius: var(--border-radius-chip);
    font-size: 15px;
    font-family: var(--font-roboto-light);
    user-select: none;
    color: #fff;
    background-color: var(--color-white-opacity-1);
}
