.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}
.listContainer {
    min-width: 400px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    line-height: 1;
    background-color: #fff;
    box-shadow: var(--box-shadow-flat);
}
.h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-family: var(--font-roboto-regular);
}
.list {
    margin: 0;
    padding: 0;
}
.listItem {
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 5px 0;
    list-style-type: none;

    .listLink {
        color: var(--color-blue);
        text-decoration: none;
    }
}
